#pr-questiondisplay .p-w-r abbr,
.p-w-r abbr[data-original-title],
.p-w-r abbr[title] {
    display: none;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-question {
    float: unset;
    width: 100%;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-item {
    margin-bottom: 0.25rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-item-details {
    display: flex;
    position: unset;
    margin-bottom: unset;
    left: 3rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-item-details {
    display: flex;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-subscript,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-item-details time {
    color: #676976;
    height: 100%;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-subscript:after {
    content: ",";
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-item-details time {
    margin-top: 3px;
}

#pr-questiondisplay .p-w-r .pr-accessible-btn {
    background-color: #f68e1e;
    padding: 0.625rem 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 0 0 #ed820f, 0 2px 4px 0 rgba(103, 105, 118, 0.15);
    border-bottom: unset;
    outline: none;
}

#pr-questiondisplay .p-w-r .pr-accessible-btn:hover {
    background-color: #ed820f;
    color: #fff;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop {
    padding: unset;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-headline {
    margin: unset;
    margin-top: -3.5rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-headline {
    margin-top: -4.5rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search {
    padding: 1.875rem 1.5rem;
    border-radius: 5px;
    background-color: #f0f0f0;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar input {
    padding: 1rem;
    border-radius: 5px;
    border: solid 1px #d0d2de;
    background-color: #ffffff;
    font-size: 0.875rem;
    min-height: 3rem;
    max-height: 3rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar input::placeholder,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form label {
    color: #676976;
    font-size: 0.875rem;
    font-weight: normal;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar button {
    min-height: 3rem;
    max-height: 3rem;
    min-width: 3rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-headline h1 {
    font-size: 1.25rem;
    letter-spacing: normal;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-sort-group label,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-sort-group label {
    position: absolute;
    margin: unset;
    padding: 2px;
    background-color: #fff;
    top: -0.5rem;
    left: 1.25rem;
    color: #676976;
    font-weight: normal;
    font-size: 0.8125rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-ask-question {
    margin-bottom: 1.75rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-sort-headline {
    color: #333333;
    font-size: 1rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-sort {
    padding: 0.875rem 1.25rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 1px #d0d2de;
    font-size: 0.875rem;
    font-weight: bold;
    color: #333333;
    line-height: 1.36;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-sort optgroup {
    font-weight: bold;
    color: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-sort option {
    color: black;
    min-height: 2rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar input:active,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar input:focus {
    border-color: #f68e1e;
    border-right: 0;
    outline: none;
    box-shadow: unset;
}

#pr-questiondisplay .p-w-r :focus,
#pr-questiondisplay .p-w-r a:focus {
    outline: none;
    box-shadow: unset;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar input:focus+button.pr-qa-search-empty {
    background-color: rgba(246, 142, 30, 0.2);
    outline: none;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar input:active+button,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar input:focus+button {
    border-color: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar input:active+button.pr-qa-search-empty span svg path,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar input:focus+button.pr-qa-search-empty span svg path {
    fill: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar input:active+button.pr-qa-search-filled,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar input:focus+button.pr-qa-search-filled {
    background-color: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-questionlist,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-questionlist {
    padding: 1.5rem 3rem;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-sort {
    border-bottom: unset;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-sort,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-sort {
    float: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-sort-headline {
    float: unset;
    width: 100%;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-item h2 {
    color: #333333;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-btn-answer,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-btn-answer {
    display: flex;
    align-items: center;
}

#pr-questiondisplay .p-w-r .pr-btn:active:focus,
#pr-questiondisplay .p-w-r .pr-btn:focus {
    box-shadow: 0 2px 0 0 #ed820f, 0 2px 4px 0 rgba(103, 105, 118, 0.15);
}

#pr-questiondisplay .p-w-r .pr-accessible-btn:focus,
#pr-questiondisplay .p-w-r .pr-accessible-btn:active {
    color: #fff;
    background-color: #f68e1e;
    box-shadow: 0 2px 0 0 #ed820f, 0 2px 4px 0 rgba(103, 105, 118, 0.15);
}

#pr-questiondisplay .p-w-r .pr-qa-display span.pr-qa-display-answer-by span {
    font-size: 0.75rem;
    color: #676976;
    line-height: 1.58;
}

#pr-questiondisplay .p-w-r .pr-qa-display span.pr-qa-display-answer-text {
    font-size: 1rem;
    color: #777777;
    line-height: 1.58;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-answer-by-container.pr-qa-display-answer-by-container-expert,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-answer-by-container.pr-qa-display-answer-by-container-expert {
    border-color: #f0f0f0;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-answer .pr-qa-display-answer-icon svg {
    width: 0.75rem;
    height: 0.75rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-answer .pr-qa-display-answer-icon,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-answer .pr-qa-display-answer-icon {
    left: 0;
    bottom: -1px;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-answer .pr-qa-display-answer-icon svg path {
    fill: #000;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer span,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question span {
    color: #f68e1e;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.25rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer:hover .pr-qa-display-text,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question:hover .pr-qa-display-text {
    color: #ed820f;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer:hover .pr-cross-icon,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question:hover .pr-cross-icon {
    background-color: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-btn-answer,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-btn-answer {
    margin-bottom: 1.5rem;
    margin-top: 0.75rem;
}

#pr-questiondisplay .p-w-r .pr-helpful-btn {
    border: unset;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-helpful-btn {
    background-color: transparent;
    padding-top: unset;
    padding-left: unset;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-helpful-btn .pr-thumbs-icon svg path {
    fill: #c9c9c9;
}

#pr-questiondisplay .p-w-r .pr-helpful-btn:hover {
    background-color: transparent;
}

#pr-questiondisplay .p-w-r .pr-helpful-btn:hover span {
    color: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-helpful-btn:hover .pr-thumbs-icon svg path {
    fill: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-qa-display span {
    font-size: 0.75rem;
    color: #676976;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop span.pr-qa-display-answer-by,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet span.pr-qa-display-answer-by {
    line-height: 1.5;
}

#pr-questiondisplay .p-w-r .pr-thumbs-icon {
    width: 1rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-item .pr-qa-display-item-icon {
    background-color: #f68e1e;
    padding: 0.25rem 0.5rem;
    left: -2.375rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search form .pr-qa-display-searchbar .pr-qa-search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer .pr-cross-icon,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question .pr-cross-icon {
    border: unset;
    top: unset;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer .pr-cross-icon__circle,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question .pr-cross-icon__circle {
    display: none;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer .pr-cross-icon__circle,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer .pr-cross-icon__line,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question .pr-cross-icon__circle,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question .pr-cross-icon__line {
    stroke: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-accessible-btn:focus,
#pr-questiondisplay .p-w-r .pr-review-snapshot .pr-review-snapshot-simple .pr-review-snapshot-snippets .pr-snippet-read-and-write a:focus {
    border: unset;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-answer-link-container .pr-cross-icon,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-answer-link-container .pr-cross-icon {
    padding: 0.25rem;
    display: flex;
    width: 1.375rem;
    height: 1.375rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-answer-link-container .pr-cross-icon,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-answer-link-container .pr-cross-icon {
    left: -1.75rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer .pr-qa-display-text,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question .pr-qa-display-text {
    margin-left: 0.25rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer:focus span,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question:focus span {
    color: #ed820f;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer:focus .pr-cross-icon__line,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question:focus .pr-cross-icon__line {
    stroke: #ed820f;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer:focus:hover .pr-cross-icon__line,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question:focus:hover .pr-cross-icon__line {
    stroke: #fff;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer:focus .pr-qa-display-text,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question:focus .pr-qa-display-text {
    color: #ed820f;
    background: unset;
    text-shadow: unset;
}

#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-desktop .pr-qa-display-questionlist,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-questionlist {
    margin-bottom: 0.5rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-show-more span {
    font-size: 1rem;
    color: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-show-more .pr-caret-icon__line {
    stroke: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-show-more:hover,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-show-more:hover span {
    color: #ed820f;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-show-more:hover .pr-caret-icon__circle,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-show-more:hover .pr-caret-icon__line {
    stroke: #ed820f;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-show-more:active .pr-qa-display-text,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-show-more:focus .pr-qa-display-text {
    color: #ed820f;
    background: unset;
    text-shadow: unset;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search .pr-qa-display-clear-search-button {
    color: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-search .pr-qa-display-clear-search-button:hover {
    color: #ed820f;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question .pr-qa-display-text {
    font-size: 1rem;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question {
    display: flex;
    align-items: center;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-answer .pr-qa-display-answer-icon {
    left: -29px;
    top: unset;
}

.pr-answer-form .pr-header-required .pr-required-indicator,
.pr-question-form .pr-header-required .pr-required-indicator,
#pr-questiondisplay .p-w-r .control-label .pr-required-indicator,
#pr-questiondisplay .p-w-r .pr-control-label .pr-required-indicator,
#pr-questiondisplay .p-w-r a {
    color: #f68e1e;
}

#pr-questiondisplay .p-w-r a:focus,
#pr-questiondisplay .p-w-r a:hover {
    color: #ed820f;
}

#pr-questiondisplay .pr-prequestion-size p {
    line-height: normal;
}

#pr-questiondisplay .p-w-r .pr-btn.active {
    background-color: #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-btn.active:focus,
#pr-questiondisplay .p-w-r .pr-btn:active:focus,
#pr-questiondisplay .p-w-r .pr-btn:focus {
    box-shadow: unset;
}

#pr-questiondisplay .p-w-r input:focus+label.pr-btn,
#pr-questiondisplay .p-w-r input:focus+label.pr-label-control {
    outline: none;
    border-color: #f68e1e;
    box-shadow: 0 0 0 2px #ed820f;
}

#pr-questiondisplay .p-w-r .form-control:focus {
    box-shadow: 0 0 0 2px #f68e1e;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-questionlist {
    border-color: #f0f0f0;
}